html{
    background-color: black;
    color: white;
    text-align: center;
    margin-top: 15%;
    font-size: 40px;
}

button{
    background-color: black;
    color: white;
    border-color: white;
    border-radius: 10px;
    padding: 0.5rem;
    margin-top: 20px;
    font-size: 20px;
}

button:hover{
    transition-duration: 0.8s;
    background-color: white;
    color: black;
}